<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Noco Evento</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <strong>Evento {{ title }} </strong>

      <p> Localização: </p>
      <p>{{localization}}</p>
    </div>
  </section>
</body>
</html>
